<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817935113816-jbal383hqgj35f5btu865pnag4miju2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817935113816-jbal383hqgj35f5btu865pnag4miju2n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>817935113816-73irh5i7ovrbtjrqf51u053ra294lchv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSIt61eeWHKQX6g7eoKh9wp-zhDUjb4hk</string>
	<key>GCM_SENDER_ID</key>
	<string>817935113816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.venqis.smartcities.develop</string>
	<key>PROJECT_ID</key>
	<string>smartcities-devel</string>
	<key>STORAGE_BUCKET</key>
	<string>smartcities-devel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817935113816:ios:71d0efd1382df07e11b42d</string>
	<key>DATABASE_URL</key>
	<string>https://smartcities-devel.firebaseio.com</string>
</dict>
</plist>