<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753192095136-a64gjofqcs1ddk9nb5j7s99qivcevk0c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753192095136-a64gjofqcs1ddk9nb5j7s99qivcevk0c</string>
	<key>API_KEY</key>
	<string>AIzaSyBirD0Yj6zmNGKCe9DzmZFDmHSPySZS74s</string>
	<key>GCM_SENDER_ID</key>
	<string>753192095136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.venqis.contraloria.dev</string>
	<key>PROJECT_ID</key>
	<string>contraloriaapp-devel</string>
	<key>STORAGE_BUCKET</key>
	<string>contraloriaapp-devel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753192095136:ios:132739f64040c2ff73e8c5</string>
	<key>DATABASE_URL</key>
	<string>https://contraloriaapp-devel.firebaseio.com</string>
</dict>
</plist>